
@model PaginatedList<SimulacaoCompra.Models.Compra>

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
@{
    ViewBag.Title = "Principal";
}
<br />
<div class="row">
    @if (TempData["Salvo"] != null)
    {
        <div class="form-group alert alert-success" role="alert">
            <span class="badge badge-pill badge-success">Sucesso!</span>
            <strong> @TempData["Salvo"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }

    @if (TempData["Deletar"] != null)
    {
        <div class="form-group alert alert-success" role="alert">
            <span class="badge badge-pill badge-success">Atenção!</span>
            <strong> @TempData["Deletar"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    }

    <div class="demo-card-square mdl-card mdl-shadow--8dp center-block">

        <img class="img-responsive" src="~/images/vetorFinanceiro.jpg" />

        <div class="mdl-card__supporting-text">
            <strong>Realize agora mesmo a simulação de suas compras.</strong>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <p class="text-center">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" asp-action="Create">Simular agora <i class="glyphicon glyphicon-list-alt"></i></a>
            </p>
        </div>
    </div>
    <wbr />

    <hr />
    <h5 class="text-center">Simulações Salvas</h5>
    <div class="form-group">
        <form asp-action="Index" method="get">
            <div class="form-actions">
                <p>
                    Buscar por nome: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Buscar" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" /> |
                    <a class="mdl-button" asp-action="Index">Carregar lista completa</a>
                </p>
            </div>
        </form>
    </div>
    <wbr />
    <div class="form-group table-responsive mdl-shadow--8dp mdl-typography--font-black">
        <table class="mdl-data-table ">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome da compra</a> |
                    </th>

                    <th>
                        Valor da compra |
                    </th>
                    <th>
                        % Juros |
                    </th>
                    <th>
                        Qtd Parcelas |
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data da compra</a>|
                    </th>
                    <th>
                        Valor da parcela |
                    </th>
                    <th>
                        Tipo de Calculo |
                    </th>
                    <th>
                        <strong>Ações da tabela</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeDaCompra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valortotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valorjuros)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qtdparcelas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Datacompra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valorparcela)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoCalculo)
                        </td>
                        <td>
                            <a asp-action="Edit" class="mdl-button mdl-js-button mdl-button--colored" asp-route-id="@item.Idcompra">Editar <i class="glyphicon glyphicon-pencil"></i></a> |
                            <a asp-action="Details" class="mdl-button mdl-js-button mdl-js-ripple-effect" asp-route-id="@item.Idcompra">Detalhes <i class="glyphicon glyphicon-file"></i></a> |
                            <a asp-action="Delete" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red-700 mdl-color-text--white" asp-route-id="@item.Idcompra">Deletar <i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Valor total das parcelas</th>
                    <td>R$ @Model.Sum(x => x.Valorparcela)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Retornar
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Próximo
    </a>
</div>
